.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
bino
bind
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.o
*.exe
*.aps
*.a
*.dll
*.debug
*.release
*.log
*.ast
*.bin
manual.ps
lib
trace
repository
Debug
Release
install
install.bat
wingstall_ucd.bin
wingstall_ucd.deflate.bin
ucd.all.flat.xml
deployment
packages
package_editor.config.xml
